<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>KiranLoginServlet</servlet-name>
        <servlet-class>com.java2gui_kiran_A_19.KiranLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KiranWelcomeServlet</servlet-name>
        <servlet-class>com.java2gui_kiran_A_19.KiranWelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KiranLoginServlet</servlet-name>
        <url-pattern>/KiranLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KiranWelcomeServlet</servlet-name>
        <url-pattern>/KiranWelcomeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
